html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
table
{
    width: 95%;
    border-radius: 5px;
    border-left: 1px solid lightsteelblue;
    border-right: 1px solid lightsteelblue;
    border-top: 1px solid lightsteelblue;
/*padding: 8px;*/
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 0;
/*    table不设置padding，保证td和table之间不会有空隙，所以在填充背景颜色的时候中间不会有空隙*/
/*    使用{border-collapse: separate;border-spacing: 0;}来消除空隙，同时不会因为使用border-collapse: collapse导致table的border-radius失效*/
}
td
{
    border-bottom: 1px solid lightsteelblue;
    padding: 5px 15px;
}
table .tableTitle
{
    color: dimgray;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(199, 199, 199, 0.2);
}